@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

@use 'sass:color';

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	min-height: 3rem;
	padding: 0.75rem 1.25rem;

	border: 1px solid $color-accent;
	border-radius: $radius-small;

	background-color: $color-accent;
	color: #ffffff;

	font-weight: 600;
	line-height: 1;
	text-decoration: none;

	box-shadow: 0 0.35rem 0.9rem rgba($color-accent, 0.14);

	transition:
		background-color $transition-default,
		border-color $transition-default,
		box-shadow $transition-default,
		transform $transition-default;

	&:hover {
		background-color: color.adjust($color-accent, $lightness: -6%);
		border-color: color.adjust($color-accent, $lightness: -6%);

		box-shadow: 0 0.45rem 1.1rem rgba($color-accent, 0.2);
		transform: translateY(-1px);
	}

	&:active {
		box-shadow: 0 0.2rem 0.5rem rgba($color-accent, 0.12);
		transform: translateY(0);
	}

	&:focus-visible {
		@include focus-ring;
	}
}

.button--secondary {
    background: transparent;
    color: $color-primary;
}

.button--small {
    min-height: 2.75rem;
    padding: 0.65rem 1rem;
}

.button--outline-light {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;

	min-height: 3.25rem;
	padding: 0.85rem 1.4rem;

	color: $color-primary;
	background-color: color.change(
		$color-background,
		$alpha: 0.6
	);
	border: 1px solid $color-primary;
	border-radius: $radius-small;

	font-weight: 700;
	text-align: center;
	text-decoration: none;

	transition:
		color $transition-default,
		background-color $transition-default,
		transform $transition-default;

	&:hover {
		transform: translateY(-0.125rem);

		color: $color-background;
		background-color: $color-primary;
	}

	&:focus-visible {
		outline: 0.2rem solid $color-primary;
		outline-offset: 0.2rem;
	}
}
